@import "../../../../Styles/Mixins/mixins.scss";
@import "../../../../Styles/Variables/variables.scss";

.table-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.4rem;

    button {
        border: none;
        background-color: $main-color;
        padding: 4px 2px;
        border-radius: 3px;
        color: $hover-color;

        &:first-child {
            background-color: $font-gold;
            color: black;
            margin-right: 5px;
        }

        .icon {
            padding: 0;
            height: 1rem;
            width: 1rem;
            cursor: pointer;
        }
    }
}