@import "../../Styles/AnimationsMixins/AnimationsMixins.scss";
@import "../../Styles/Variables/variables.scss";

.button-anim-container-red {
    display: flex;
    margin: 1rem 0;

    @include button-anim($main-color);
}

.button-anim-container-gold {
    display: flex;
    margin: 1rem 0;

    @include button-anim($main-color);
}