@import "~assets/styles/animationsMixins/animationsMixins.scss";
@import "~assets/styles/variables/variables.scss";

.btn-anim-red {
  display: flex;
  margin: 1rem 0;
  @include button-anim($main-color);
}

.btn-anim-gold {
  display: flex;
  margin: 1rem 0;
  @include button-anim($font-color);
}
