@import "../../../Styles/Mixins/mixins.scss";
@import "../../../Styles/Variables/variables.scss";

form {
    @include form;

    input {
        @include input-form;
    }

    label {
        @include label-form;
    }

    button {
        @include button-form;
    }

    span {
        margin-top: 1rem;
        color: $hover-color;
        font-size: 1.4rem;
        text-align: center;
    }
}