@import "../../Styles/Mixins/mixins.scss";
@import "../../Styles/Variables/variables.scss";

.slider-component {
    min-height: 45vh;
    display: grid;
    place-items: center;
    padding: 0;
    
    @media (max-width:"1300px") {
        min-height: 25vh;
    }

    @media (max-width:"900px") {
        min-height: 15vh;
    }

    .slider {
        display: grid;
        overflow: hidden;
        height: 100%;
        position: relative;
        width: 100%;
        place-items: top;

        &::after,
        &::before {
            background: linear-gradient(to right, rgba(242, 217, 186, 1) 0%, rgba(255, 255, 255, 0) 100%);
            content: '';
            height: 100%;
            position: absolute;
            width: 15%;
            z-index: 2;
        }

        &::before {
            left: 0;
            top: 0;
        }
        
        &::after {
            right: -2px;
            top: 0;
            transform: rotateZ(180deg);
        }
        
        .slide-track {
            display: flex;
            animation: carousel 14s linear infinite;
        
            img {
                width: 18rem;
                height: 13rem;
                object-fit: cover;
                border: 0.3px solid $main-color;
                margin-left: 1rem;
                -webkit-box-reflect: below 1px linear-gradient(transparent, #0009);

                @media (max-width: "1300px") {
                    width: 10rem;
                    height: 7rem;
                }
                    
                @media (max-width: "900px") {
                    width: 5rem;
                    height: 3rem;
                }
            }
        }

        @keyframes carousel {
            0% {
                transform: translateX(-100%);
            }

            100% {
                transform: translateX(100%);
            }
        }
    }
}