@import "~assets/styles/mixins/mixins.scss";
@import "~assets/styles/variables/variables.scss";

.response {
  border: 3px solid $main-color;
  padding: 2rem;
  @include flex-column;

  h2 {
    color: $main-color;
  }

  button {
    @include button-form;
  }
}
