@import "~assets/styles/mixins/mixins.scss";
@import "~assets/styles/variables/variables.scss";

.services_s_one {
  background: linear-gradient(to right, $background, $background-overlay0 90%),
    url("../../../assets/images/work4.jpg");
  @include section-background;

  @media (max-width: "900px") {
    background: linear-gradient(
        to bottom,
        $background-overlay1,
        $background-overlay5 90%
      ),
      url("../../../assets/images/work4.jpg");
    @include section-background;
  }

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include services-section-sides($font-dark, $font-dark2);
}
