@import "../../Styles/Mixins/mixins.scss";
@import "../../Styles/Variables/variables.scss";

.home {
    @include page-layout;

    .container {
        @include page-container;
        .section {
                @include section;
            }
        
            .s-one {
                background:
                    linear-gradient(to right, $background-overlay1 20%,
                        $background-overlay2),
                    url("../../images/narukvicabis.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }
    }
}