@import "../../../Styles/Mixins/mixins.scss";
@import "../../../Styles/Variables/variables.scss";

.categories {
    padding: 2rem 1rem;
    text-align: center;

    button {
        padding: 0.3rem 1rem;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: $font-dark;
        margin-left: 1rem;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;

        &:hover {
            color: $font-color;
            background: $main-color;
        }
&.active {
    color: $font-color;
    background: $main-color;
}
    }
}