@import "../../Styles/Variables/variables.scss";
@import "../../Styles/Mixins/mixins.scss";

.art-page {
    @include page-layout;

    .container {
            @include flex-column;
            padding: 8rem 0;
            
                .filters-container {
                    @include flex-column;
            
                    
.filters {
        width: 18rem;
        display: flex;
        justify-content: space-between;
    }
            }
    }
}