@import "../../Styles/Variables/variables.scss";
@import "../../Styles/Mixins/mixins.scss";

.art-page {
    @include page-layout;

    .container {
        @include flex-column;
            padding: 8rem 0;
        width: 100%;
        
            .filters-container {
                @include flex-column;
            }
                        @media (max-width: "900px") {
                            padding: 4rem 0 0 0;
                        }
    }
}