@import "../../../Styles/Mixins/mixins.scss";
@import "../../../Styles/Variables/variables.scss";

.home-section-five {
    background:
        linear-gradient(to right, $background 10%,
        $background-overlay5, $background 90%),
        url("../../../images/zlanac.jpg");
    @include section-background;
    @include flex-column;
    width: 100%;

    h1 {
        @include h1-section($main-color);
    }

    p {
        color: $font-color;
        font-size: 1.5rem;
        text-align: center;

        @media (max-width: "900px") {
            font-size: 1.3rem;
        }
    }
}