@import "../../../Styles/Mixins/mixins.scss";
@import "../../../Styles/Variables/variables.scss";

.home-section-one {
    background:
        linear-gradient(to right, $background-overlay1 20%,
            $background-overlay2),
        url("../../../images/prstend.jpg");
            @include section-background;

    @media (max-width: "900px") {
        background:
            linear-gradient(to right, $background-overlay1 20%,
                $background-overlay2),
            url("../../../images/prstendpoz.jpg");
        @include background-img;
            padding: 20% 1rem;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        color: $main-color !important;
        margin-bottom: 1rem;

        span {
            font-size: 4rem;
            letter-spacing: 0.3rem;
        }

        @media (max-width: "900px") {
            font-size: 2.5rem;

            span {
                font-size: 3rem;
            }
        }
    }

    .social {
        padding: 1rem 0 1rem 0;

        @media (max-width: "900px") {
            margin-left: -0.7rem;
        }

        a {
            color: $main-color;

            .social-icon {
                margin: 0.5rem;
                height: 2.5rem;
                width: 2.5rem;
                cursor: pointer;
                transition: all 0.5s ease-in-out;

                &:hover {
                    color: $font-dark;
                }
            }
        }
    }

    h3 {
        font-size: 1.8rem;
        font-weight: 700;
        color: $font-dark;

        @media (max-width: "900px") {
            font-size: 1.4rem;
        }
    }


}