$main-color: #68060d;
$font-color: #dfab6c;
$font-dark: #343434;
$font-gold: gold;
$hover-color: white;
$shadow-color: #444;
$background: rgb(242, 217, 186);
$background-overlay1: rgb(242, 217, 186, 0.9);
$background-overlay2: rgb(242, 217, 186, 0.2);
$background-overlay3: rgb(104, 6, 13, 0.9);
$background-overlay4: rgb(104, 6, 13, 0.4);
$heading-color: #2d2d2d;
$font-calvi: 'Crimson Text', serif;
$font-titillium: 'Titillium Web', sans-serif;