@import "../Variables/variables.scss";

@mixin button-anim($color) {
    .button-anim .link-anim {
        position: relative;
        display: inline-block;
        padding: 10px 30px;
        margin: 15px 0;
        color: $color;
        font-size: 30px;
        text-decoration: none;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0009);

        &:hover {
            background: $color;
            color: white;
            box-shadow: 0 0 5px $color,
                    0 0 25px $color,
                    0 0 50px $color,
                    0 0 200px $color;
        }

        span {
            position: absolute;
            display: block;
        }

        span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, $color);
            animation: animate1 4s linear infinite;
        }

        @keyframes animate1 {
            0% {
                left: -100%;
            }

            50%,
            100% {
                left: 100%;
            }

        }

        span:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, $color);
            animation: animate2 4s linear infinite;
            animation-delay: 1s;
        }

        @keyframes animate2 {
            0% {
                top: -100%;
            }

            50%,
            100% {
                top: 100%;
            }
        }

        span:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, $color);
            animation: animate3 4s linear infinite;
            animation-delay: 2s;
        }

        @keyframes animate3 {
            0% {
                right: -100%;
            }

            50%,
            100% {
                right: 100%;
            }

        }

        span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, $color);
            animation: animate4 4s linear infinite;
            animation-delay: 3s;
        }

        @keyframes animate4 {
            0% {
                bottom: -100%;
            }

            50%,
            100% {
                bottom: 100%;
            }

        }
    }
}
@mixin button-anim2 {
    width: 100px;
    height: 30px;
    margin-top: 1rem;
        border: none;
        background: none;
        color: $main-color;
        text-transform: uppercase;
        font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    
        &:hover {
            background-color: $main-color;
            color: $font-color;
        }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-right: 1px solid $main-color;
            border-top: 1px solid $main-color;
            animation: border-top-right 4s infinite alternate;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 1px solid $main-color;
            border-left: 1px solid $main-color;
            animation: border-top-left 4s infinite alternate;
    }

    @keyframes border-top-right {
        0% {
            height: 0px;
            width: 0px;
        }

        50% {
            height: 0px;
            width: 100px;
        }

        100% {
            height: 29px;
                width: 100px;
        }
    }

    @keyframes border-top-left {
        0% {
            height: 0px;
            width: 0px;
        }

        50% {
            height: 0px;
            width: 100px;
        }

        100% {
            height: 29px;
                width: 100px;
        }
    }
}