@import "../../../../Styles/Mixins/mixins.scss";
@import "../../../../Styles/Variables/variables.scss";

.product-card {
    margin: 1rem;
    width: 18rem;
    height: 25rem;
    box-shadow: 10px 15px 20px $font-dark;
    @include flex-column;
    position: relative;

    img {
        width: 100%;
        height: 60%;
        object-fit: cover;
    }

    .category {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.1rem 0.5rem;
        background-color: $background-overlay3;

        h3 {
            color: $font-color;

        }
    }

    .info-card {
        width: 100%;
        height: 40%;
        background: $background;
        @include flex-column;
        border-top: 1px solid $font-color;

        h3 {
            color: $main-color;
            font-weight: 700;
            font-size: $font-text;
            padding: 1rem;
            text-align: center;
        }

        h2 {
            color: $font-dark;
            font-family: $font-titillium;
            font-weight: 400;
        }

    }
}