@import "../../../Styles/Mixins/mixins.scss";
@import "../../../Styles/Variables/variables.scss";

.home-section-two {
    background-color: $main-color;
        @include section-background;
        @include flex-column;
    @include section-background;
    @include flex-column;
    @media (max-width: "900px") {
            padding: 20% 1rem;
        }
    h1 {
        font-size: 3rem;
        color: $font-color !important;
        margin-bottom: 1rem;
        text-align: center;
        @media (max-width: "900px") {
        font-size: 2.5rem;
    }
    }
        p {
            color: $font-color;
            font-size: 1.5rem;
            text-align: center;
    
            @media (max-width: "900px") {
                font-size: 1.3rem;
            }
        }
}