.contact-section {
  background: linear-gradient(to right, rgba(242, 217, 186, 0.9), rgba(242, 217, 186, 0.2)), url("../../../images/narukvicabis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10% 10%;
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 5rem;
}
@media (max-width: 900px) {
  .contact-section {
    background: linear-gradient(to right, rgba(242, 217, 186, 0.9), rgba(242, 217, 186, 0)), url("../../../images/threerings.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 10%;
    min-height: 50vh;
    width: 100%;
    background-position: center;
  }
}
@media (max-width: 900px) and (max-width: 1300px) {
  .contact-section {
    padding: 10% 3rem;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .contact-section {
    padding: 10% 2rem;
  }
}
@media (max-width: 900px) and (max-width: 700px) {
  .contact-section {
    padding: 10% 1rem;
  }
}
@media (max-width: 1300px) {
  .contact-section {
    padding: 10% 3rem;
  }
}
@media (max-width: 900px) {
  .contact-section {
    padding: 10% 2rem;
  }
}
@media (max-width: 700px) {
  .contact-section {
    padding: 10% 1rem;
  }
}
.contact-section h1 {
  font-size: 3rem;
  color: #68060d !important;
  margin-bottom: 1rem;
  text-align: center;
}
@media (max-width: 900px) {
  .contact-section h1 {
    font-size: 2.5rem;
  }
}
.contact-section .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.contact-section .contact-container .contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 2rem 1rem;
}
.contact-section .contact-container .contact-links .social {
  padding: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-section .contact-container .contact-links .social a {
  color: #68060d;
}
.contact-section .contact-container .contact-links .social a .social-icon {
  margin: 0.5rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.contact-section .contact-container .contact-links .social a .social-icon:hover {
  transform: scale(1.2);
}
.contact-section .contact-container .contact-links .f-con-item {
  display: flex;
  justify-content: center;
  width: 18rem;
  padding: 0.5rem;
}
.contact-section .contact-container .contact-links .f-con-item img {
  width: 80%;
}
.contact-section .contact-container .contact-links .f-con-item ul {
  width: 100%;
}
.contact-section .contact-container .contact-links .f-con-item ul h2 {
  margin-bottom: 0.5rem;
  text-align: center;
}
.contact-section .contact-container .contact-links .f-con-item ul li {
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding-bottom: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.contact-section .contact-container .contact-links .f-con-item ul li:hover {
  transform: scale(1.2);
}
.contact-section .contact-container .contact-links .f-con-item ul li .icon {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  fill: #68060d;
}
.contact-section .contact-container .contact-links .f-con-item ul li .link {
  cursor: pointer;
  text-decoration: none;
  color: #68060d;
  font-weight: 600;
  font-size: 1.5rem;
}
.contact-section .contact-container .contact-links .f-con-item ul li .link span {
  font-weight: 700;
}/*# sourceMappingURL=ContactSection.css.map */