@import "../Variables/variables.scss";
@mixin page-layout {
    padding: 6rem 1rem;
    display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        width: 90%;
        margin: 0 auto;
    }
    
@mixin page-container {
    padding: 4rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
@mixin flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin form {
    @include flex-column;
    margin: 4rem 1rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

@mixin input-form {
    margin: 15px 0;
        font-size: 16px;
        padding: 10px;
        width: 250px;
        border: 1px solid $hover-color;
        border-top: none;
        border-left: none;
        border-right: none;
        background: rgba(151, 151, 151, 0.2);
            color: $font-dark;
        outline: none;
}

@mixin textarea-form {
    @include input-form;
    height: 8rem;
}
@mixin label-form {
    color: $font-color;
    font-weight: 600;
    font-size: 1rem;
}

@mixin button-form {
    border: 1px solid $hover-color;
        background: rgba(20, 20, 20, .2);
        font-size: 18px;
        color: $font-dark;
        margin-top: 20px;
        padding: 10px 50px;
        cursor: pointer;
        transition: .4s;
        
            &:hover {
                background: rgba(20, 20, 20, .8);
                padding: 10px 80px;
                color: $font-color
            }
}