@import "../../Styles/Mixins/mixins.scss";
@import "../../Styles/Variables/variables.scss";

.admin {
    @include page-layout;

    h1 {
            font-weight: 400;
        }
        button {
            @include button-form;
        }
    .container {
        @include page-container;

        h2 {
                color: $main-color;
            }
        form {
            @include form;

            input {
                @include input-form;
            }

            label {
                @include label-form;
            }

            button {
                @include button-form;
            }

            span {
                margin-top: 1rem;
                color: $hover-color;
                font-size: 1.4rem;
                text-align: center;
            }
        }
    }
}