@import "../../../Styles/Mixins/mixins.scss";
@import "../../../Styles/Variables/variables.scss";

.home-section-four {
    background-color: $main-color;
    @include section-background;
    @include flex-column;

    @media (max-width: "900px") {
        padding: 20% 1rem;
    }

    h1 {
        @include h1-section($font-color);
    }

        .hsf-images {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 1rem 0;
        }
}