@import "../../Styles/Variables/variables.scss";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    margin: auto;
    padding: 2rem 0;
    text-align: center;
    background: $background;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    h2{
        color: $main-color; 
    }

    img {
        width: 60%;
        height: 100%;
        object-fit: cover; 

        @media (max-width:"1200px") {
            width: 70%;
            height: 70%;
        }

        @media (max-width:"900px") {
            width: 100%;
            height: 70%;
        }   
    }
        
}