@import "../../../../Styles/Mixins/mixins.scss";
@import "../../../../Styles/Variables/variables.scss";

.slider-testem {
    position: relative;
    margin: 2rem 0;
    min-height: 30rem;
    width: 70%;
    background-color: $main-color;
    border: 1px solid $font-color;
    box-shadow: 15px 15px 20px black;
    @media (max-width: "900px") {
        width: 90%;
    }

    .btn-st {
        position: absolute;
        top: 40%;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1;
        
        .icon {
            fill: $font-color;
            font-size: 2rem;
            transition: all 1s ease-in-out;
    
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .left {
        left: 1rem;
    }

    .right {
        right: 1rem;
    }

    .slider-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 2rem 3rem;
        @include flex-column;
        color: $font-color;
            
        .logo {
            img {
                height: 5rem;
            }
        }
            
        h4 {
            font-size: 1.3rem;
            font-weight: 400;
            margin: 1rem 0;
        }
            
        p {
            font-weight: 300;
        }
    }
}